<html>
<title>Reset Password Request @Model.Link</title>

<body>


Hello

If you have forgotten your password, just click the link below and we will reset it for you.

<a href="@Model.Link" >@Model.Link</a>

Regards,

The cool z's

</body>
</html>