@{
    _Layout = "Layout";
    ViewBag.HtmlTitle = "Doh! You forget your password!";
}
<p>
    Hello,</p>
<p>
    if you have forgotten your password, just click the link below and we will reset
    it for you.</p>
<p>
    <a href="@Model.Link" >@Model.Link</a></p>
